bcrypt==3.1.7
cffi==1.13.2
Click==7.0
configobj==5.0.6
cryptography==2.8
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.9
Flask-Session==0.3.1
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mongoengine==0.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pymongo==3.10.1
pyOpenSSL==19.1.0
python-gnupg==0.4.5
python-ldap==3.4.0
secrets==1.0.2
six==1.14.0
systematic==4.8.7
Werkzeug==0.16.0
